*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
  box-sizing: border-box;
}

body {
	background-image:url(Material/fon.png);
	background-size: cover;
}

.container {
	max-width: 1920px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 0px auto 0px;
}

#main-container {
	max-width: 1920px;
	min-height: 100vh;
	height: 100vh; /* динамическая высота viewport */
  max-height: 100vh;
}

.header {
	background-color: rgba(10, 16, 50, 0.13);
	height: 11.5vh;
	display: inline-flex;
	float: left;
}

#logo {
    object-fit: contain;
		object-position: left;
		max-width: 10%;
}

.buttons {
/* 	justify-content: space-around; */
	object-fit: contain;
	display: inline-flex;
	flex-wrap: wrap;
	margin: auto;
	max-width: 90%;
	justify-content: center;
/* для медиа, тел экранов меньше 876 */
}

.button {
	object-fit: contain;
	font-size: 15px;
	max-width: 300px;
	min-width: 200px;
	max-height: 80px;
	min-height: 45px; /* можно убрать и будет прикольно прыгать */
	background-color: rgba(8, 18, 73, 0.1);
	color: rgb(255, 255, 255);
	border: 1px;
	border-radius: 5px;
}

.button:hover {
	object-fit: contain;
	font-size: 15px;
	max-width: 350px;
	min-width: 250px;
	max-height: 80px;
	min-height: 45px;
	background-color: hsl(221, 100%, 36%);
	color: aliceblue;
	border: 1px solid hsl(221, 100%, 63%);
	border-radius: 5px;
}

.center {
	background-color: rgba(0, 0, 0, 0.65);
	color: aliceblue;
	padding: 20px;
	text-align: center;
	padding: 3%;
	flex-grow: 1;
	font-size: 25px;
}

/*#main {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 1fr 19fr; 
}
	*/

#main-box {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 1fr 9fr;
	height: 100%;
	width: 100%;
	padding: 1%;
}

#news {
	background-color: rgba(0, 0, 0, 0.65);
	color: aliceblue;
	padding: 20px;
	text-align: center;
	padding: 3%;
	flex-grow: 1;
	font-size: 14;
}

#history {
	background-color: rgba(0, 0, 0, 0.65);
	color: aliceblue;
	padding: 20px;
	text-align: center;
	padding: 3%;
	flex-grow: 1;
	font-size: 14;
}

#useful {
	background-color: rgba(0, 0, 0, 0.65);
	color: aliceblue;
	padding: 20px;
	text-align: center;
	padding: 3%;
	flex-grow: 1;
	font-size: 14;
}

#info {
	background-color: rgba(0, 0, 0, 0.65);
	color: aliceblue;
	padding: 20px;
	text-align: center;
	padding: 3%;
	flex-grow: 1;
	font-size: 14;
}

.footer{
	background-color: rgba(0, 0, 0, 0.01);
	height: 8.5vh;
	padding-left: 6vw;
	padding-top: 10px;
	padding-bottom: 15px;
}

.a-foot {
	text-decoration: none;
	color: aliceblue;
	justify-content: center;
	font-size: 17px;
}

.h1 {
	font-size: 33px;
	margin-top: 0px;
}

@media (max-width: 876px) {
	.button{
		max-width: 250px;
		min-width:40px;
		max-height: 60px;
	}
}

/* следующий медиа по ширине 305 */

#main-right-top {
	grid-column: 2;
	grid-row: 1;
	align-content: center;
	align-self: center;
}

#main-right-bottom {
	object-fit: contain;
	grid-area: 2 / 2 / 2 / 2;
	justify-self: center;
	padding-top: 10%
}

#main-text {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	align-content: center;
	padding: 1%;
}

#main-text-bottom {
	grid-column: 1 / 1;
	grid-row: 2 / 2;
	justify-self: center;
	padding-top: 5%
}